h1,
p {
  text-align: center;
}
img {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.dancing-script-uniquifier {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.main-header {
  background-color: rgb(96, 208, 235);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
}
.header-info {
  text-align: left;
  color: rgb(219, 84, 75);
  position: absolute;
  left: 0;
  padding: 0;
  margin: 14-x 14px 0 14px;
  padding-left: 10px;
}
.header-info a {
  padding: 0;
  text-decoration: none;
}
.header-info a:hover {
  background-color: transparent;
}
nav {
  position: absolute;
  right: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 15px;
  float: left;
}
a:hover {
  background-color: rgb(140, 212, 243);
}
.jumbotron {
  margin-top: 5%;
}
.title {
  font-style: italic;
  color: rgb(0, 0, 0);
}
h1,
h2,
h3,
p {
  text-align: center;
  color: rgb(0, 0, 0);
}
.items {
  display: flex;
  justify-content: center;
}
.item {
  display: flex;
  flex-direction: column;
}
.portrait {
  max-width: 100%;
  max-height: 100%;
}
img {
  border: 10px solid rgb(124, 206, 207);
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgb(158, 226, 247);
}
img {
  opacity: 0.9;
}
img:hover {
  opacity: 1;
}
.item {
  /*Tambahkan code di bawah ini*/
  margin: 10px;
  background-color: rgb(115, 244, 238);
  padding: 10px;
}
h3,
p {
  text-align: center;
  padding: 5px;
  color: steelblue;
}
.items {
  background-color: rgb(142, 184, 184);
}
body {
  background-image: linear-gradient(rgb(76, 230, 224), rgb(67, 154, 166));
  background-size: cover;
  font-family: Georgia, "Times New Roman", Times, serif;
}
table,
tr,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 20px;
  padding-right: 200px;
  margin-top: 10px;
  font-size: 20px;
}
th {
  background-color: aqua;
}
tr,
td {
  background-color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tab {
  background-color: gainsboro;
  width: 300px;
  padding: 40px;
  margin: 20px;
  border-radius: 20px;
}
h1.name {
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: black;
}
h2.price {
  font-size: 38px;
  color: black;
}

.list {
  list-style-type: disc;
  margin-bottom: 50px;
  text-align: left;
}

.list li {
  margin-top: 20px;
  color: black;
}

hr {
  height: 7px;
  width: 80%;
  margin: auto;
  background-color: rgb(219, 84, 75);
  border: none;
  border-radius: 50px;
  margin-top: 20px;
}

button {
  background-color: rgba(219, 85, 75, 0.616);
  border-radius: 8px;
  color: white;
  padding: 8px;
  border: none;
  font-size: 20pt;
  margin-left: 93px;
}
button:hover {
  transform: scale(1.2, 1.2);
  background-color: rgb(219, 85, 75);
  cursor: pointer;
}

div.about {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 30px;
  background-color: blanchedalmond;
  width: 80%;
}

.about {
  text-align: left;
  color: black;
  padding: 10px;
  width: 100%;
}

div.image-about {
  margin-bottom: auto;
  margin-top: auto;
}

img.about-us {
  width: 300px;
}

footer {
  background-image: linear-gradient(rgb(191, 235, 241), rgb(67, 154, 166));
}

.main-footer {
  display: flex;

  justify-content: center;

  width: 100%;
}

.left-footer {
  margin-right: auto;

  margin-left: 40px;
}

.right-footer {
  margin-left: auto;

  margin-right: 40px;
}

.center-footer {
  margin-left: 20px;

  margin-right: 20px;
}

info-left {
  color: rgb(219, 84, 75);

  text-align: left;
  width: 100%;
}

.info-right {
  color: rgb(219, 84, 75);

  text-align: right;

  width: 100%;
}

.info-center {
  color: rgb(219, 84, 75);

  text-align: center;

  width: 100%;

  padding-top: 5px;

  border-top: 1px solid rgb(146, 168, 133);
}

@media (max-width: 400px) {
  * {
    font-size: 2vw;
    margin: 2px;
  }
}
